@model BindBox.Models.Staff

@section Css {
    @{
        <link rel="stylesheet" href="~/css/staffs/create.css" />
    }
}
<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf">
                <strong class="am-text-primary am-text-lg">员工管理</strong> / <small>
                    Staff
                    management
                </small>
            </div>
        </div>
    </div>
    <hr>

    <form asp-action="Edit" style="margin-left:30px;margin-top:30px;">
        <div class="row">
            <div class="col-md-8" id="leftForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="StaffId" />
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="StaffName" class="control-label">姓名</label>
                        <input asp-for="StaffName" class="form-control" />
                        <span asp-validation-for="StaffName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="StaffWages" class="control-label">工资</label>
                        <input asp-for="StaffWages" class="form-control" />
                        <span asp-validation-for="StaffWages" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="StaffGender" class="control-label">性别</label>
                        <input asp-for="StaffGender" class="form-control" />
                        <span asp-validation-for="StaffGender" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="StaffPhone" class="control-label">电话</label>
                        <input asp-for="StaffPhone" class="form-control" />
                        <span asp-validation-for="StaffPhone" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="StaffCode" class="control-label">身份证</label>
                        <input asp-for="StaffCode" class="form-control" />
                        <span asp-validation-for="StaffCode" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="StaffPosition" class="control-label">职位</label>
                        <input asp-for="StaffPosition" class="form-control" />
                        <span asp-validation-for="StaffPosition" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="StaffState" class="control-label">状态</label>
                        <input asp-for="StaffState" class="form-control" />
                        <span asp-validation-for="StaffState" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" class="form-control" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                        </div>*@
                    <div class="form-group col-md-6">
                        <label asp-for="Province" class="control-label">省</label>
                        <input asp-for="Province" class="form-control" />
                        <span asp-validation-for="Province" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="City" class="control-label">市</label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Area" class="control-label">区</label>
                        <input asp-for="Area" class="form-control" />
                        <span asp-validation-for="Area" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="Details" class="control-label">详情地址</label>
                        <input asp-for="Details" class="form-control" />
                        <span asp-validation-for="Details" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="StaffEntryTime" class="control-label">入职时间</label>
                        <input asp-for="StaffEntryTime" class="form-control" />
                        <span asp-validation-for="StaffEntryTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group" style="margin-top:10px">
                    <button type="submit" class="am-btn am-btn-primary" value="保存信息">保存信息</button>
                    <a asp-action="Index" class="btn btn-link">
                        <button type="button" class="am-btn am-btn-default">返回员工列表</button>
                    </a>
                </div>
            </div>
            <div class="col-md-3" style="text-align:center;">
                <div>
                    <img src="" alt="" style="width:300px;height:300px;" />
                </div>
                <div class="am-form-group am-form-file" style="margin-top:20px;">
                    <button type="button" class="am-btn am-btn-danger am-btn-sm">
                        <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                    </button>
                    <input id="doc-form-file" type="file" multiple>
                </div>
                <div id="file-list"></div>
            </div>
        </div>
    </form>
</div>
<script>
    $(function() {
    $('#doc-form-file').on('change', function() {
    var fileNames = '';
    $.each(this.files, function() {
    fileNames += '<span class="am-badge">' + this.name + '</span> ';
    });
    $('#file-list').html(fileNames);
    });
    });
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}